In [1]:
# import pandas module
# import os module
import pandas as pd
import os

In [3]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
file_path = "./locations.pkl"
df = pd.read_pickle(file_path)

In [4]:
# Display the DataFrame
df

,mindate,maxdate,name,datacoverage,id,source
0,1983-01-01,2022-07-27,"Abu Dhabi, AE",0.9977,CITY:AE000001,locations_0.json
1,1944-03-01,2022-07-27,"Ajman, AE",0.9992,CITY:AE000002,locations_0.json
2,1944-03-01,2022-07-27,"Dubai, AE",0.9992,CITY:AE000003,locations_0.json
3,1944-03-01,2022-07-27,"Sharjah, AE",0.9992,CITY:AE000006,locations_0.json
4,1966-03-02,2021-08-30,"Kabul, AF",0.9969,CITY:AF000007,locations_0.json
...,...,...,...,...,...,...
38857,1995-05-08,2022-07-28,"Fairfax, VT 05454",1.0000,ZIP:05454,locations_9.json
38858,1997-03-06,2022-07-28,"Fairfield, VT 05455",0.9500,ZIP:05455,locations_9.json
38859,1995-05-09,2022-07-28,"Ferrisburgh, VT 05456",0.9500,ZIP:05456,locations_9.json
38860,1997-03-06,2022-07-28,"Franklin, VT 05457",0.9500,ZIP:05457,locations_9.json
38861,1997-03-06,2022-07-28,"Grand Isle, VT 05458",0.9500,ZIP:05458,locations_9.json

In [ ]:
Pickle acquired.